@font-face {
  font-family: "Cabinet Grotesk";
  src: url(../../vendor/Fonts/CabinetGrotesk.ttf);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.modal__content {
  background-color: white;
  position: relative;
  padding: 28px 28px 0;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
}

.modal__content_type_image {
  position: relative;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 90%;
  max-width: 500px;
  padding: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin-top: 24px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
}

.modal__input {
  display: block;
  cursor: pointer;
  margin-top: 8px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  padding-bottom: 4px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
}

.modal__legend {
  margin-bottom: 12px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.modal__radio-input {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  display: inline-block;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
}

.modal__radio-input:checked {
  border-color: black;
  background-color: white;
}

.modal__radio-input:checked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
}

.modal__legend_type_radio {
  color: rgba(0, 0, 0, 0.5);
  font-weight: normal;
  display: flex;
  align-items: center;
}

.modal__legend_type_radio:has(input:checked) {
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
}

.modal__submit {
  border: none;
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  max-width: 124px;
  height: 36px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 4px;
  font-family: " Cabinet Grotesk";
  font-size: 16px;
  margin-top: 32px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__submit:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}
