@font-face {
  font-family: "Cabinet Grotesk";
  src: url(../../vendor/Fonts/CabinetGrotesk.ttf);
}

.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  overflow: hidden;
  background-color: #f8f8f8;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  padding: 2px 12px;
  background: white;
  font-family: "Cabinet Grotesk";
  font-weight: 500;
  font-size: 16px;
}

.card__image {
  width: 100%;
  cursor: pointer;
}
