@font-face {
  font-family: "Cabinet Grotesk";
  src: url(../../vendor/Fonts/CabinetGrotesk.ttf);
}

.clothes-section__add-item {
  display: flex;
  gap: 20px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.clothes-section__button {
  border: none;
  background: none;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  padding: 0;
}

.clothes-section__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 20px;
}
